body{ 
background-color: whitesmoke; 
padding: 50rem;

     
}  
 .marque{  
  color: white; 
  background-color: black;   
  
  
  
  
 }  

 .modelle{ 

color: white; 
 background-color: black; 
 height: 3rem;
     
 }  

th{ 

background-color: rgb(236, 231, 224);  
height: 3rem;

     
} 
table{ 



     
}